.button-container{
    min-width: 165px;
    width:auto;
    height:50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding:0 35px 0 35px;
    font-size:15px;
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bolder;
    border:none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: hover 0.2s ease;
}

.button-container:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
}

.fav{
    background-color: #db4437;
    color: #fff;
}

@media (max-width:768px){
    .button-container{
        min-width: 100px;
        font-size: 10px;
        padding: 0 15px 0 15px;
        line-height: 40px;
        height: 40px;
    }
    .fav svg{
        font-size: 15px !important;
    }
    
}