.button-container{
    min-width: 165px;
    width:auto;
    height:50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding:0 35px 0 35px;
    font-size:15px;
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bolder;
    border:none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fav{
    background-color: #db4437;
    color: #fff;
}