.data-preview{
    margin-top: 6em;
    margin-left:10px;
    width:100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    row-gap: 30px;
    column-gap: 15px;
}
