.fav-page{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    overflow-y: overlay;
}

.fav-page::-webkit-scrollbar{
    display: none;
}

.fav-list-container{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favourites{
    display: flex;
    flex-direction: column;
    gap: 2em 0;
    margin-top: 2em;
    width: 500px;
}

.fav-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fav-head h1{
    font-size: 2.2rem;
    margin-bottom: 0.2em;
}
.fav-head span{
    font-weight: bold;
}

.empty{
    display: flex;
    gap: 1em 0;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px){
    .fav-page{
        padding: 20px;
    }
    .favourites{
        width:360px;
    }
    .empty h1{
        text-align: center;
        font-size: 1.5rem;
    }
}