.search{
    height:50px;
    display: flex;
}

.search-box{
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width:400px;
    height:50px;
    padding: 15px;
    font-size: 1rem;
    font-family: inherit;
    outline:none;
}

.search-icon{
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: grid;
    place-items: center;
}

@media (max-width:768px){
    .search{
        height: 40px;
    }
    .search-box{
        height: 40px;
        width: 250px;
        font-size: 0.9rem;
    }
    .search-icon{
        height: 40px;
        width:40px;
    }

}